<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mahasiswa Management System</title>

<link rel="stylesheet"
 	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 	crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
	<h1>Data Mahasiswa</h1>
	<a th:href="@{/showNewMahasiswaForm}" class="btn btn-primary btn-sm mb-3">Tambah Data Baru</a>
	
	<table border="1" class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=nama&sortDir=' + ${reverseSortDir}}">
					Nama</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=nim&sortDir=' + ${reverseSortDir}}">
					NIM</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=alamat&sortDir=' + ${reverseSortDir}}">
					Alamat</a></th>
				<th><a th:href="@{'/page/' + ${currentPage} + '?sortField=tgllahir&sortDir=' + ${reverseSortDir}}">
					Tanggal Lahir</a></th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mahasiswa : ${listMahasiswa}">
				<td th:text="${mahasiswa.nama}"></td>
				<td th:text="${mahasiswa.nim}"></td>
				<td th:text="${mahasiswa.alamat}"></td>
				<td th:text="${mahasiswa.tgllahir}"></td>	
				<td><a th:href="@{/showFormForUpdate/{id}(id=${mahasiswa.id})}" class="btn btn-primary">Update</a>
					<a th:href="@{/deleteMahasiswa/{id}(id=${mahasiswa.id})}" class="btn btn-danger">Delete</a>
				</td>			
			</tr>
		</tbody>
	</table>
	
	<div th:if = "${totalPages > 1}">
		<div class = "row col-sm-10">
			<div class = "col-sm-2">Total Rows: [[${totalItems}]]</div>
			<div class="col-sm-1">
            	<span th:each="i: ${#numbers.sequence(1, totalPages)}">
      			<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
      			<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;</span>
        </div>
			<div class = "col-sm-1">
				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            	<span th:unless="${currentPage < totalPages}">Next</span>
			</div>
			<div class = "col-sm-1">
				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            	<span th:unless="${currentPage < totalPages}">Last</span>
			</div>
		</div>
	</div>
	
</div>

</body>
</html>